.venv
__pycache__/
*.py[codz]
*$py.class
.env
*.egg-info/
dist/
build/
.ruff_cache/
credentials.json
*.parquet
.devenv/
.kube/
.kubeconfig
gke_gcloud_auth_plugin_cache
.pre-commit-config.yaml
todo.txt
.coverage
.testmondata*
